<ion-view title="Configuracion" id="page4" style="background-color:#6E6E6E;">
  <ion-content padding="true" style="background: url(img/yyZikfeaT5uI3sfoHuAa_arduino-liner-3.png) no-repeat center;background-size:cover;" class="has-header">
    <div id="configuracion-container1">
      <form id="configuracion-form1" class="list">
        <ion-toggle class="configuracion-item" toggle-class="toggle-positive" id="configuracion-toggle1"><strong>Linterna</strong></ion-toggle>
        <ion-toggle class="configuracion-item" toggle-class="toggle-balanced" ng-checked="true" id="configuracion-toggle2"><strong>Alerta de proximidad</strong></ion-toggle>
        <ion-toggle class="configuracion-item" toggle-class="toggle-dark" id="configuracion-toggle5"><strong>Ahorro de energia</strong></ion-toggle>
        <ion-item class="range range-balanced configuracion-barra" id="configuracion-range2"><strong>Volumen</strong>
          <input type="range" value="75" min="10" max="100" step="5">
        </ion-item>
      </form>
    </div>
  </ion-content>
</ion-view>