<ion-view title="Control Remoto" id="page2" style="background-color:#6E6E6E;">
  <ion-content padding="true" style="background: url(img/EjgV8rwYRdqXvMAGyzK5_arduino-liner-4.jpg) no-repeat center;background-size:cover;" class="has-header">
		<div id="controlRemoto-button-bar2" class="button-bar">
      <button id="controlRemoto-button14" style="font-size:15px;" class="button button-positive button-block icon ion-bluetooth" on-release="btEnable()"> Activar</button>
      <button id="controlRemoto-button15" style="font-size:15px;" class="button button-positive button-block" on-release="btList()">Connectar</button>
      <button id="controlRemoto-button16" style="font-size:15px;" class="button button-dark button-block" on-release="btDisconnect()">Desconectar</button>
    </div>
		<div class="row">
			<div class="col-50 col-offset-10 recuadro-botones padding-vertical" style="margin-bottom:20px;margin-top:10px">
				<div class="row button-bar padding-vertical">
					<i class="col col-20"></i>
					<button class="button-layout col col-60 control-circular" on-release="btInstruction('F')">
					<i class="ion-arrow-up-c flecha" style="font-size:50px"></i>
					</button>
					<i class="col"></i>
				</div>
				<div class="row button-bar padding">
					<i class="col col-10"></i>
					<button class="button-layout col col-40 control-circular" style="margin-right:4px" on-release="btInstruction('L')">
					<i class="ion-arrow-left-c flecha" style="font-size:50px"></i>
					</button>
					<button class="button-layout col col-40 control-circular" on-release="btInstruction('R')">
					<i class="ion-arrow-right-c flecha" style="font-size:50px"></i>
					</button>
					<i class="col col-10"></i>
				</div>
				<div class="row button-bar padding-vertical">
					<i class="col col-20"></i>
					<button class="button-layout col col-60 control-circular" on-release="btInstruction('B')">
					<i class="ion-arrow-down-c flecha" style="font-size:50px"></i>
					</button>
					<i class="col"></i>
				</div>
			</div>
			<div class="col" style="margin-bottom:20px;margin-top:10px;margin-left:20px">
				<ul class="list padding-vertical" style="margin-top:25px">
					<li class="item item-toggle opcion-manual">
						<strong>Sostener</strong>
					<label class="toggle">
					 <input type="checkbox" ng-checked="true">
					 <div class="track">
						 <div class="handle"></div>
					 </div>
					</label>
					</li>
					<li class="item item-toggle opcion-manual">
						<strong>Pintar</strong>
					<label class="toggle">
					 <input type="checkbox" ng-checked="false">
					 <div class="track">
						 <div class="handle"></div>
					 </div>
					</label>
					</li>
					<li class="opcion-manual" style="background-color: black">
							<ion-radio ng-model="choice" ng-value="'A'" ng-checked="true"><strong>Blanco</strong></ion-radio>
							<ion-radio ng-model="choice" ng-value="'B'"><strong>Amarillo</strong></ion-radio>
					</li>		
				</ul>
			</div>
		</div>
    <form id="controlRemoto-form4 padding-vertical" class="list">
      <ion-item class="range range-dark" id="controlRemoto-range3" style="background-color: black; opacity: 0.7; color: antiquewhite; border-width:2px"><strong>Velocidad</strong>
        <input type="range" value="70" min="10" max="100" step="5">
      </ion-item>
    </form>
		<div id="bt-list">{{content}}</div>
		<div class="padding-vertical" style="background-color:transparent" style="margin-bottom:40px">
			<div class="row">
				<button id="controlRemoto-button17" style="font-size:15px;margin-right:10px" class="button button-assertive button-block col col-offset-50 icon ion-record"><strong> Grabar</strong></button>
				<button id="controlRemoto-button18" style="font-size:15px;" class="button button-positive button-block col icon ion-ios-undo" on-release="btInstruction('S')"><strong> Restablecer</strong></button>
			</div>
		</div>
  </ion-content>
</ion-view>
