<ion-view title="Trabajos" id="page3" style="background-color:#6E6E6E;">
  <ion-content padding="true" style="background: url(img/Dlp4HHFeQkyQXSXirTWT_arduino-liner-1.jpg) no-repeat center;background-size:cover;" class="has-header">
    <ion-list id="trabajos-list2">
      <ion-item class="trabajo" id="trabajos-list-item13"><strong>Carrefour Belgrano</strong></ion-item>
      <ion-item class="trabajo" id="trabajos-list-item14"><strong>Jumbo Palermo</strong></ion-item>
      <ion-item class="trabajo" id="trabajos-list-item15"><strong>Futbol 5 Almagro</strong></ion-item>
    </ion-list>
  </ion-content>
</ion-view>