.trabajo {
	background-color: transparent;
	color: antiquewhite;
}

.configuracion-item {
	background-color: transparent;
	color: antiquewhite;
}

.configuracion-barra {
	background-color: transparent;
	color: antiquewhite;
}

.button-block.button-block {
	border-color: azure;
	border-style: solid;
	border-width: 1px;
	opacity: 0.85;
}

.control-circular {
	background-color: #2e3642;
	opacity: 0.9;
	background-blend-mode:hard-light;
}

.control-circular:active {
	background-color: gainsboro;
	opacity: 1;
	background-blend-mode:hard-light;
}

.flecha {
	color: azure
}

.recuadro-botones {
	border-style: double;
	border-width: 5px 5px;
	border-radius: 50px;
	border-color: azure;
	background-color: black;
	opacity: 0.8;
}

.opcion-manual {
	background-color:black;
	opacity: 0.7;
	color:azure;
}

.item-content.disable-pointer-events {
	color: white;
	background-color: black;
}

.item-radio input:checked + .radio-content .item-content {
	color: white;
	background-color: black;
	opacity: 0.9;
}

.popup-container.active .popup {
	border-radius: 10px;
}

.popup-head {
	background-color: darkgray;
	opacity: 0.8;
}

.popup-body {
	background-color: black;
	opacity: 0.8;
}

.popup-buttons {
	background-color: black;
	opacity: 0.8;
}

.popup-buttons .button:last-child {
	background-color: darkgray;
	opacity: 0.8;
	color: black;
	margin-left: 50px;
	margin-right: 50px;
}

.contenedor-dispositivos {
	background-color: white;
	opacity: 0.8;
	border-radius: 10px;
}

.boton-conexion {
	background-color: darkgrey;
}